[Unit]
Description=xfce polkit agent
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/libexec/xfce-polkit --replace

[Install]
WantedBy=sway-session.target
